Tests/xspec-runner.xml
release
Tests/PLODD_test_suite
Tests/transpile_test_suite/*/actual_results
Tests/transpile_test_suite/schematron_in_contexts/
Tests/transpile_test_suite/*/*.rng
Tests/transpile_test_suite/*/*.sch

